*{
    background-color: #000000;
    display: grid;
    place-items: center;
    padding-top: 10px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:#FFFF;
    align-items: center;
    
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 9px;
    cursor: pointer;
    text-align: center;
    margin: 4px 2px;
    border: none;
    color: #ffff ;
    
    
}
a{
    color: #FFFF;
}

